body {
    margin: 70px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

#banner_image {
     height: 250px;
     width: 100%;
     background-image: url("/Z656/XSLT Transform1/wild-flowers.jpg");
     background-size: cover;
    }
h1 {
    text-align: left;   
    font-size: 3.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
   
   }
#plant_store {
      text-align: center;
      vertical-align: middle;
      color: darkviolet;
      padding: 75px;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    padding: 15px;
    margin-top: 35px;
}

li {
    font-size: 1.5em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

table {
   width:100%;
   border-collapse: collapse;
}
table {
    border: 1px solid black;
    
}
th {
    background-color: Teal;
    color: #FFFAF0;
    font-size: 1.5em;
}
th, td {
    border-bottom: 1px solid grey;
    text-align: left;
    padding: 10px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
tr:nth-child(odd) {background-color: #FFF0F5;}

div {
    margin: 30px 10px 30px 10px; 
}
